.hero {
    background-image: url(../img/hero-bg.jpg);
    padding-top: 96px;  // the height of my navbar
    background-size: cover;
    padding-top: 20vh;
    padding-bottom: 25vh;
}

.about-title {
    background: url(../img/about-bg.jpg);
    background-size: cover;
    background-position: center;
    min-height: 45vw;
}

.about-text {
    padding-top: 6vh;
    padding-bottom: 6vh;
    @include media-breakpoint-up(md) {
        padding-bottom: 10vh;
        padding-bottom: 15vh;
    }
}

.band-member {
    // Todo : Read about bootstrap mixins
    @include media-breakpoint-up(md) {
        position: absolute;
        z-index:100;
        top: -3em;
    }
    box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
}

.band-member-name {
    font-family: $sans;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.band-member-position {
    color: $gray-600;
    font-size: 0.9rem;
}

.music-container {
    margin-top: 5em;
    margin-bottom: 5em;
    box-shadow: 6px 6px 15px 0 rgba(0, 0, 0, 0.5);
}

.shows {
    font-size: 0.8rem;
}

.show-title {
    font-family: $sans;
}

.show-info > * {
    margin-bottom: 0;
}

.date {
    font-weight: $bold;
    margin-top: 1.25em;

    &::before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-regular);
        content: '\f133';
        margin-right: .6em;
        // Use em here so that when date font size changes icon size changes too
        font-size: 1em;
    }
}

.price {
    font-weight: $bold;

    small {
        font-weight: $normal;
    }

    &::before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        content: '\f145';
        margin-right: .4em;
    }
}

.show-info {
    display: flex;
    flex-direction: column;
}

.btn-buy {
    padding-left: .5em;
    padding-right: .5em;
    text-align: center;
    font-size: .9rem;
}